<% if user_signed_in? %>
  <%= link_to "Edit Profile", edit_profile_path, class: "text-red-600 hover:text-red-800" %>
<% end %>
<div id="<%= dom_id current_user %>" class="w-full sm:w-auto my-5 space-y-5">
  <%= current_user_avatar %>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= current_user.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Given Name:</strong>
    <%= current_user.given_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Family Name:</strong>
    <%= current_user.family_name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= current_user.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Height:</strong>
    <%= current_user.height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= current_user.weight %>
  </div>
</div>
